.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
}
.divspeed{
    float: left;

}
.divspeedimg,.divvolumeimg{
    width: 200px;
    border-radius: 100px;
}
#speed,#volume{
    font-size: 23px;
    margin: 15px;

}
.divvolume{
    float: right;
}
.playbutton{
    width: 130px;
    font-size: 25px;
}
canvas{
    border: 5px solid gainsboro;
    border-radius: 20px;
}